<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		// build:css css/main.min.css
		// bower:css
		link(rel='stylesheet', href='js/xalk-font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='js/normalize-css/normalize.css')
		link(rel='stylesheet', href='js/animate.css/animate.css')
		// endbower
		link(rel="stylesheet", href="css/main.min.css")
		// endbuild
		link(rel="icon", href="img/favicon.ico")
		title Document
body
	.wrap.grid
		.section 1
		.section 2
		.section 3
		.section 4
		.section.animated.bounceInLeft 5
		.section.animated.bounceInRight 6
		.section 7
		.section 8
		.section 9
		.section 10
		.section 11
		.section 12
	// build:js js/main.min.js
	// bower:js
	script(src='js/jquery/dist/jquery.js')
	// endbower
	script(src="js/main.js")
	// endbuild
